{% extends "presence/base.html" %}

{% block body %}
    <h1 class="ui center aligned header">Census Information Table</h1>



    <h3 class="ui center aligned header">Your username</h3>
    <div class="ui container">
        <table class="ui four column table segment">
            <thead>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Arrival Mean</th>
                <th>Total time</th>
            </tr>
            </thead>
            <tbody>
            {% for month_item in month_items %}
            <tr>
                <td>{{ month_item.year }}</td>
                <td>{{ month_item.month }}</td>
                <td>{{ month_item.arrival }}</td>
                <td>{{ month_item.total }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

{% endblock %}
